{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="An Introduction to the Open Source session for Student Community">
  <meta name="author" content="Vaibhav Singh">
  <title>Open Source for you</title>

  <!-- Bootstrap -->
  <link href="{% static "main/css/bootstrap.min.css" %}" rel="stylesheet">
  <link href="{% static "main/css/style.css" %}" rel="stylesheet">
  <link href="{% static "main/css/themify-icons.css" %}" rel="stylesheet">
  <link href="{% static "main/css/dosis-font.css" %}" rel='stylesheet' type='text/css'>
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
    </head>
    <body id="page-top" data-spy="scroll" data-target=".side-menu">
        <a class="github-fork-ribbon" href="https://github.com/vaibhavsingh97/OpenSourceSession" target="_blank">
          <img src="{% static "main/img/forkme.png " %}" alt="Fork me on GitHub" title="Open Souce Session source code on github">
        </a>
      <nav class="side-menu">
        <ul>
          <li class="hidden active">
              <a class="page-scroll" href="#page-top"></a>
          </li>
          <li>
              <a href="#home" class="page-scroll">
                <span class="menu-title">Home</span>
                <span class="dot"></span>
              </a>
          </li>
          <li>
              <a href="#speakers" class="page-scroll">
                <span class="menu-title">Speakers</span>
                <span class="dot"></span>
              </a>
          </li>
          <li>
              <a href="#tickets" class="page-scroll">
                <span class="menu-title">Register</span>
                <span class="dot"></span>
              </a>
          </li>
          <li>
              <a href="#schedule" class="page-scroll">
                <span class="menu-title">Schedule</span>
                <span class="dot"></span>
              </a>
          </li>
        </ul>
      </nav>
      <div class="container-fluid">
        <!-- Start: Header -->
        <div class="row hero-header" id="home">
          <div class="col-md-7">
            <h1><code>Open Source</code> for you</h1>
            <h1>Attend the event this Tuesday</h1>
            <h2>to get started with open source!</h2>
            <br>
            <h3 style="font-size:20px;"><span class="ti-time">&nbsp;</span> 4<sup>th</sup> October, 2017</h3>
              <h3 style="font-size:20px;"><span class="ti-location-pin">&nbsp;</span>To be decided</h3>
            <a href="#tickets" class="btn btn-lg btn-red page-scroll">Register Now <span class="ti-arrow-right"></span></a>
          </div>
          <div class="col-md-5 hidden-xs">
            <img src="{% static "main/img/rocket.png"%}" class="rocket animated bounce">
          </div>
        </div>
        <!-- End: Header -->
      </div>
      <div class="container">
        <!-- Start: Desc -->
        <div class="row me-row content-ct">
          <h2 class="row-title">Why This Event Is Super Cool?</h2>
          <div class="col-md-4 feature">
            <span class="ti-ticket"></span>
            <h3>Get info for paid internships</h3>
            <p>There are many internships opportunities available for Open Source Contributors, like Google Summer of Code, Rails Girls summer of code, etc.</p>
          </div>
          <div class="col-md-4 feature">
            <span class="ti-microphone"></span>
            <h3>Previous GSOC Students</h3>
            <p>Hear from previous GSOC students who cracked GSOC 2017. Learn tips and tricks and strategy to follow in these type of internships. </p>
          </div>
          <div class="col-md-4 feature">
            <span class="ti-world"></span>
            <h3>Hands on session with Git</h3>
            <p>Git is one of the various version control systems available in the market. Many open source organisations rely on Git to maintain their code bases.</p>
          </div>
        </div>
        <!-- End: Desc -->

        <!-- Start: Speakers -->
        <div class="row me-row content-ct speaker" id="speakers">
          <h2 class="row-title">Meet the Speakers</h2>
          <div class="col-md-4 col-sm-6 feature">
            <img src="{% static "main/img/mariobehling.jpg"%}" class="speaker-img">
            <h3>Mario Behling</h3>
            <p>Mentor and admin of FOSSASIA</p>
            <ul class="speaker-social">
              <li><a href="https://github.com/mariobehling"><span class="ti-github"></span></a></li>
              <li><a href="https://www.facebook.com/mariobehling"><span class="ti-facebook"></span></a></li>
              <li><a href="https://twitter.com/mariobehling"><span class="ti-twitter-alt"></span></a></li>
              <li><a href="https://www.linkedin.com/in/mariobehling/"><span class="ti-linkedin"></span></a></li>
            </ul>
          </div>
          <div class="col-md-4 col-sm-6 feature">
            <img src="{% static "main/img/jonnah.png"%}" class="speaker-img">
            <h3>Joannah Nanjekye</h3>
            <p>RGSOC and outreachy intern</p>
            <ul class="speaker-social">
              <li><a href="http://github.com/nanjekyejoannah"><span class="ti-github"></span></a></li>
              <li><a href="https://twitter.com/Captain_Joannah"><span class="ti-twitter-alt"></span></a></li>
              <li><a href="https://www.linkedin.com/in/nanjekye-joannah/"><span class="ti-linkedin"></span></a></li>
            </ul>
          </div>
          <!-- <div class="col-md-4 col-sm-6 feature">
            <img src="{% static "main/img/speaker-3.png"%}" class="speaker-img">
            <h3>Speaker 3</h3>
            <p>RGSOC 2017 - ceph</p>
            <ul class="speaker-social">
              <li><a href="#"><span class="ti-facebook"></span></a></li>
              <li><a href="#"><span class="ti-twitter-alt"></span></a></li>
              <li><a href="#"><span class="ti-linkedin"></span></a></li>
            </ul>
          </div> -->
        </div>
        <!-- End: Speakers -->
      </div>

      <!-- Start: Tickets -->
      <div class="container-fluid tickets" id="tickets">
        <div class="row me-row content-ct">
          <h2 class="row-title">Interested in event?</h2>
          <div class="col-md-12 col-sm-12">
            <br>
            <p>Please bring laptops in the event</p>
            <a href="/register/" class="btn btn-lg btn-red">Register Now</a>
          </div>
        </div>
      </div>
      <!-- End: Tickets -->

      <!-- Start: Schedule -->
      <div class="container">
        <div class="row me-row schedule" id="schedule">
          <h2 class="row-title content-ct">Event Schedule</h2>
          <div class="col-md-12">
            <!-- Tab panes -->
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane fade in active">
                <div class="row">
                  <div class="col-md-6">
                    <div class="media">
                      <div class="media-left">
                        <a href="#">
                          <img class="media-object" src="{% static "main/img/speaker-1.png"%}" alt="...">
                        </a>
                      </div>
                      <div class="media-body">
                        <h5>Introduction to open source</h5>
                        <p>You will get to know what open source is all about and benefits for open source contribution. Questions like how to get started with open source? will be answered</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="media">
                      <div class="media-left">
                        <a href="#">
                          <img class="media-object" src="{% static "main/img/speaker-1.png"%}" alt="...">
                        </a>
                      </div>
                      <div class="media-body">
                        <h5>Information about various paid internships</h5>
                        <p>You will get to know about various paid internships like GSOC, Outreachy etc. RUles and regulations and requirement of these internships</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="media">
                      <div class="media-left">
                        <a href="#">
                          <img class="media-object" src="{% static "main/img/speaker-1.png"%}" alt="...">
                        </a>
                      </div>
                      <div class="media-body">
                        <h5>Hands on Git session</h5>
                        <p>Git is used many open source communities so it's important to know git. Basic Git version control and how it works will be taught in this session.</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="media">
                      <div class="media-left">
                        <a href="#">
                          <img class="media-object speaker-img" src="{% static "main/img/mariobehling.jpg"%}" alt="...">
                        </a>
                      </div>
                      <div class="media-body">
                        <h5>Guest Speaker session</h5>
                        <p>Mario is an admin and founder of FOSSASIA. He is s very well known person in open source community for his great contributions. He is also an organizer of FOSSASIA, biggest FOSS event in Asia. </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                      <div class="media">
                        <div class="media-left">
                          <a href="#">
                            <img class="media-object speaker-img" src="{% static "main/img/jonnah.png"%}" alt="...">
                          </a>
                        </div>
                        <div class="media-body">
                          <h5>Guest Speaker session</h5>
                          <p>Joannah Nanjekye is a software engineer that graduated from Makerere University in Uganda with a Bachelor of Science Degree in software Engineering. She is a FOSS contributor since her time as Rails girls Summer of code scholar last year. She is currently an outreachy intern with Ceph working on a Multi Language RGW testing project where she will be writing tests for RGW in Golang, Java and C++</p>
                        </div>
                      </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End: Schedule -->

      <!-- Start: Footer -->
      <div class="container-fluid footer">
        <div class="row contact">
          <div class="col-md-12 content-ct">
            <h3><span class="ti-info-alt"></span>&nbsp;Important Information</h3>
            <p>Slide link will be shared here after the event.</p>
          </div>
        </div>
        <div class="row footer-credit">
          <div class="col-md-6 col-sm-6">
            <p>&copy; 2017 <a href="http://bml.edu.in/" target="_blank">Bml Munjal University</a></p>
          </div>
          <div class="col-md-6 col-sm-6"> 
            <ul class="footer-menu">
              <li>Made with <span class="ti-heart"></span> by <a href="https://vaibhavsingh97.me/" style="font-size:16px;" target="_blank">Vaibhav Singh</a></a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- End: Footer -->

      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
      <script src="{% static "main/js/jquery.min.js"%}"></script>
      <!-- Include all compiled plugins (below), or include individual files as needed -->
      <script src="{% static "main/js/bootstrap.min.js"%}"></script>
      <script src="{% static "main/js/jquery.easing.min.js"%}"></script>
      <script src="{% static "main/js/scrolling-nav.js"%}"></script>
      <script src="{% static "main/js/validator.js"%}"></script>
    </body>
    </html>